@import './mixin.scss';
html {height: 100%;}
html, body {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  font-size: rem(24px);
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  background-color: transparent;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
	margin: 0;
	padding: 0
}
button, input, select, textarea {
	font-family: 'Open Sans',Arial,sans-serif;
	border: none;
}
textarea, input, select {
	-webkit-appearance: none
}
body {
	min-width: 320px;
	overflow-x: hidden;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:inherit|grayscale;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
address, cite, dfn, em, var {
	font-style: normal
}
code, kbd, pre, samp {
	font-family: couriernew, courier, monospace
}
small {
	font-size: 12px
}
em, i {
	font-style: normal
}
ul, ol, li {
	list-style: none
}
video {
	background-color: #000
}
a {
	color: #626262;
	text-decoration: none;
	tap-highlight-color: transparent;
	user-select: none;
}
a:link {
	text-decoration: none
}
a:visited {
	text-decoration: none
}
a:hover {
	text-decoration: none
}
a:active {
	color: #cf2626;
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
legend {
	color: #000
}
fieldset, img {
	border: 0
}
img {
	max-width: 100%;
	vertical-align: middle
}
button, input, select, textarea {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
.display-flex{
	display:flex
}
.flex{
	flex:1
}
.box-sizing{
	box-sizing:border-box
}
.over-ell{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.cf{
	zoom:1;
}
.cf:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
// 公共样式
.icon-bg {
	background-image: url(/static/images/icon-bg.png);
	background-size: rem(500px) rem(500px);
	background-repeat: no-repeat;
}
.con-cell {
	margin-top: $header-height;
}
// 文字颜色
.text-main {
	color: $main-color;
}
.text-red {
	color: #fe6253;
}
// 按钮颜色
.btn-blue {
	background-color: $main-color;
	color: #fff;
}
// router-link样式
.router-link-active{
	user-select: none;
}
.router-link-active:active {
	background-color: $active-color;
}
.groups {
	padding: rem(20px) rem(25px);
	background-color: #fff;
	border-bottom: border(1px);
}
//swiper index颜色改为main-color主色
.swiper-pagination-bullet-active {
	background: $main-color !important;
}
// lazyload样式 
img[lazy=loading] {
	opacity: 0;
}
img[lazy=error] {
	
}
img[lazy=loaded] {
	transition: opacity .15s;
}
@for $i from 1 through 10 {
  .pa-#{$i * 5} { padding: rem(5px) * $i;}
  .pt-#{$i * 5} { padding-top: rem(5px) * $i;}
  .pb-#{$i * 5} { padding-bottom: rem(5px) * $i;}
  .pl-#{$i * 5} { padding-left: rem(5px) * $i;}
  .pr-#{$i * 5} { padding-right: rem(5px) * $i;}

  .ma-#{$i * 5} { margin: rem(5px) * $i;}
  .mt-#{$i * 5} { margin-top: rem(5px) * $i;}
  .mb-#{$i * 5} { margin-bottom: rem(5px) * $i;}
  .ml-#{$i * 5} { margin-left: rem(5px) * $i;}
  .mr-#{$i * 5} { margin-right: rem(5px) * $i;}
}