@import './transition.scss';
html {height: 100%;}
html, body {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: #58666e;
  background-color: transparent;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
	margin: 0;
	padding: 0
}
button, input, select, textarea {
	font-family: 'Open Sans',Arial,sans-serif;
	border: none;
}
textarea, input, select {
	-webkit-appearance: none
}
body {
	min-width: 320px;
	overflow-x: hidden;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:inherit|grayscale;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
address, cite, dfn, em, var {
	font-style: normal
}
code, kbd, pre, samp {
	font-family: couriernew, courier, monospace
}
small {
	font-size: 12px
}
em, i {
	font-style: normal
}
ul, ol, li {
	list-style: none
}
video {
	background-color: #000
}
label {
	margin: 0;
}
a {
	text-decoration: none;
	tap-highlight-color: transparent;
	user-select: none;
}
a:link, a:visited, a:hover {
	color: $--color-primary;
	text-decoration: none;
}
a:active {
	color: #16adde;
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
legend {
	color: #000
}
fieldset, img {
	border: 0
}
img {
	max-width: 100%;
	vertical-align: middle
}
button, input, select, textarea {
	font-size: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
.over-ell{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cf{
	zoom:1;
}
.cf:after{
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
// 公共样式
.content-cell {
    padding: $--layout-default;
    border-radius: 2px;
    background-color: #fff;
}
// 文本对齐方式
$--text-align-list: left center right;
@each $align in $--text-align-list {
    .text-#{$align}, .text-#{$align} > * {
        text-align: #{$align} !important;
    }
}

// layout样式修改
.el-header {
    margin-top: -$--layout-default;
    margin-left: -$--layout-default;
    margin-right: -$--layout-default;
    margin-bottom: $--layout-default;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
.el-main {
    background-color: #f0f2f5;
    .page-cell {
    	min-height: calc(100vh - 160px);
    }
    .page-cell + .footer-cell {
    	margin-top: $--layout-default;
    }
}
// router-link样式
.router-link-active{
	user-select: none;
}
.el-dropdown-link {
	cursor: pointer;
}
/* pagination分页样式
------------------------ */
.el-pagination{
	font-weight: normal !important;
	button {
		border: 1px solid $--border-color-base !important;
		border-radius: $--pagination-border-radius !important;
		&:not(.disabled):hover {
			border-color: $--color-primary !important;
		}
	}
	& .btn-prev,& .btn-next {
		padding: 0 6px !important;
	}
	.el-pagination__total {
		margin-right: 5px;
	}
	.el-pagination__sizes {
		margin: 0 5px 0 0;
	}
	.el-pagination__jump {
		margin-left: 10px;
	}
}
.el-pager {
	margin: 0 5px !important;
	li {
		border: 1px solid $--border-color-base !important;
		border-radius: $--pagination-border-radius !important;
		margin-right: 5px !important;
		&:last-child {
			margin-right: 0 !important;
		}
		&.active,&:hover {
			border-color: $--color-primary !important;
		}
	}
	.more:before {
		line-height: $--pagination-button-height + 2 !important;
	}
}
.el-table__column-filter-trigger {
	margin-left: 5px;
}
.el-table-filter__bottom {
	text-align: center;
}

@for $i from 1 through 10 {
	.w-#{$i * 50} { width: 50px * $i !important;}

	.pa-#{$i * 5} { padding: 5px * $i !important;}
	.pt-#{$i * 5} { padding-top: 5px * $i !important;}
	.pb-#{$i * 5} { padding-bottom: 5px * $i !important;}
	.pl-#{$i * 5} { padding-left: 5px * $i !important;}
	.pr-#{$i * 5} { padding-right: 5px * $i !important;}

	.ma-#{$i * 5} { margin: 5px * $i !important;}
	.mt-#{$i * 5} { margin-top: 5px * $i !important;}
	.mb-#{$i * 5} { margin-bottom: 5px * $i !important;}
	.ml-#{$i * 5} { margin-left: 5px * $i !important;}
	.mr-#{$i * 5} { margin-right: 5px * $i !important;}
}