@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,img{margin:0;padding:0}body,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53";outline:none}textarea{resize:none}body{height:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:inherit|grayscale;overflow-x:hidden}h1,h2,h3,h4,h5,h6{font-size:100%}address,cite,dfn,em,var{font-style:normal}code,kbd,pre,samp{font-family:couriernew,courier,monospace}small{font-size:12px}em,i{font-style:normal}ul,ol,li{list-style:none}sup{vertical-align:text-top}sub{vertical-align:text-bottom}legend{color:#000}fieldset,img{border:0}img{max-width:100%;vertical-align:middle}button,input,select,textarea{font-size:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);border: none;}table{border-collapse:collapse;border-spacing:0}.cf{zoom:1}.cf:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden}.hide{display:none}.display-box{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.box-flex{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.box-siz{-webkit-box-sizing:border-box;box-sizing:border-box}.over-ell{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.fl{float:left}.fr{float:right}
body{min-width: 1240px;color: #313044;font-size: 13px;overflow-x: hidden;}
a{text-decoration: none;color: #3d3d3d;-webkit-tap-highlight-color: transparent;tap-highlight-color: transparent;-webkit-transition: color .2s;-moz-transition: color .2s;-ms-transition: color .2s;-o-transition: color .2s;cursor: pointer;}
a:hover{color: #f2394c;}
.Hover-img{overflow: hidden;}
.Hover-img img{transition: all 0.8s;-webkit-transition: all 0.8s;-moz-transition: all 0.8s;-ms-transition: all 0.8s;-o-transition: all 0.8s;}
.Hover-img:hover img{transform: scale(1.2);-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);-o-transform: scale(1.2);}
.icon-bg{background-image: url(../images/icon-bg.png);background-repeat: no-repeat;}

.width-cell {
	width: 62.5%;
	min-width: 1200px;
	margin: 0 auto;
}
.header-cell {
	position: relative;
	min-width: 1200px;
}
.header-cell .img-hover {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.content-cell {
	min-width: 1200px;
	position: relative;
}
.content-cell .info {
	position: absolute;
	left: 19.2%;
	top: -9%;
	width: 20.6%;
	color: #fff;
}
.content-cell .deng {
	position: absolute;
	right: 14.2%;
	top: -19.3%;
	width: 33.4%;
	height: 80.5%;
	background: url(../images/deng.png) center center no-repeat;
	background-size: 100%;
}
.content-cell .deng img {
	width: 77.34%;
	margin-left: 10.7%;
	margin-top: 10.8%;
}
/*公共样式*/
	.over-cell {
	    display: block;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.animation { 
		visibility:hidden;
	}
	.animated {
		visibility:visible;
	}
	.hide { display: none;}
	.show { display: block;}
	.text-center {
		text-align: center;
	}
	.width-cell { width: 1240px; margin: 0 auto;}
	.mt5{margin-top: 5px;}
	.mt10{margin-top: 10px;}
	.mt15{margin-top: 15px;}
	.mt20{margin-top: 20px;}
	.mt25{margin-top: 25px;}
	.mt30{margin-top: 30px;}
	.mt40{margin-top: 40px;}
	.mt50{margin-top: 50px;}
	.mb5{margin-bottom: 5px;}
	.mb10{margin-bottom: 10px;}
	.mb15{margin-bottom: 15px;}
	.mb20{margin-bottom: 20px;}
	.mb25{margin-bottom: 25px;}
	.mb30{margin-bottom: 30px;}
	.mb40{margin-bottom: 40px;}
	.mb50{margin-bottom: 50px;}
	.mtb5{margin-top: 5px;margin-bottom: 5px;}
	.mtb10{margin-top: 10px;margin-bottom: 10px;}
	.mtb15{margin-top: 15px;margin-bottom: 15px;}
	.mtb20{margin-top: 20px;margin-bottom: 20px;}
	.mtb25{margin-top: 25px;margin-bottom: 25px;}
	.mtb30{margin-top: 30px;margin-bottom: 30px;}
	.pt35{padding-top: 35px;}
	.pl20{padding-left: 20px;}